@import "./description.css";
@import "./intro.css";
@import "./link.css";
@import "./syntax.css";

.container {

}

.title {
    text-align: center;
    border: 1.5em solid black;
}

.navbar {
    display: flex;
    justify-content: space-around;
    border: 1px black solid;
    margin: 1em 0;
    padding: .4em;
}

.nav__item {
    
}

.intro {

}

.description {

}